<div class="container">
  <div class="form-group">
      <h2>Products Grid</h2>
      <table class="table table-hover">
          <thead>
              <th>Name</th>
              <th>Price</th>
              <th class="text-center">Preview</th>
          </thead>
          <tbody>
              <tr *ngFor="let product of Products; trackBy:TrackById">
                <td>{{product.Name}}</td>
                <td>{{product.Price}}</td>
                <td class="text-center" >
                    <img [src]="product.Photo" height="70" width="70" class="img-thumbnail">
                </td>
              </tr>
          </tbody>
      </table>
  </div>
  <div>
    <button class="btn btn-primary" (click)="AddProduct()">Add More Product</button>
  </div>
  <div class="form-group">
      <h2>Products Catalog</h2>
      <div class="card-deck">
         <div class="card" *ngFor="let product of Products">
             <div class="card-header bg-success ">
                <h3>{{product.Name}}</h3>
             </div>
             <div class="card-body">
                 <img [src]="product.Photo" width="150" height="150" >
             </div>
             <div class="card-footer bg-warning">
                 <h3 class="text-center">&#8377; {{product.Price}}</h3>
             </div>
         </div>
      </div>
  </div>
</div>
